<h3>This is the partial for view 3.</h3>
<div>
    <p>Data from server (Admins only) <b style="color: darkblue">{{data.message}}</b></p>
    <p>Server Time: <b style="color: darkblue">{{data.serverTime}}</b></p>

    <input data-ng-model="searchField" class="form-control input-sm"><br>

    <button data-ng-disabled="loading" data-ng-click="searchCVR()" class="btn btn-default">Search</button>
    <br>
    <br>
    <uib-accordion close-others="true"> 
        <!--{{result}}-->
        <div data-ng-repeat="unit in result.productionunits" uib-accordion-group class="panel-default" heading="Production Unit {{::$index + 1}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <table>
                <tr>
                    <th style="padding-bottom: 5px;">CVR number</th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::result.vat}}
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;">Company name</th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::unit.name}}
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;">Company type</th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::result.companydesc}}
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;">Industry type</th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::result.industrydesc}}
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;">Company Owners</th>
                    <!--<td style="padding-left: 15px; font-family: italic">-->              
                    <td data-ng-repeat="owners in result.owners" style="padding-bottom: 5px; padding-left: 20px; font-family: italic">              
                <!--<li style="list-style-type: none; margin-left: 0;" data-ng-repeat="owners in result.owners">-->
                    {{::owners.name}}
                <!--</li>-->
                </td>
                </tr>
                <tr ng-show="unit.addressco !== null">
                    <th style="padding-bottom: 5px;">Address</th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        C/O {{::unit.addressco}}
                    </td>                 
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;" ng-show="unit.addressco === null">Address</th>
                    <th style="padding-bottom: 5px;" ng-show="unit.addressco !== null"></th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::unit.address}}
                    </td>             
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;"></th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::unit.zipcode}} , {{::unit.city}} <span ng-show="unit.cityname !== null">, {{::unit.cityname}}</span>
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 5px;">Starting date</th>
                    <td style="padding-bottom: 5px; padding-left: 20px; font-family: italic">
                        {{::unit.startdate}}
                    </td>
                </tr>
            </table>
        </div>
    </uib-accordion>

    <div class="text-danger" data-ng-if="error">{{error}}</div>

</div>