<h1>Daily Currency Exchange rates</h1>


<select class="form-control" data-ng-model="date" style="width: 25%;">
    <Option value="DK" selected>some date</Option>
    <Option value="NO">another date</Option>
</select>
<div>
    <div style="width: 40%; background: rgba(100,100,100,0,5);">
        <br>
        <br>
        <button data-ng-disabled="loading" data-ng-click="updateRates()" class="btn btn-default">Update</button>
        <br>
        <br>
        <button data-ng-disabled="loading" data-ng-click="showRates()" class="btn btn-default">show rates</button>
        <br>
        <br>
        <button data-ng-disabled="loading" data-ng-click="createGraphic()" class="btn btn-default">create a graph</button>
        <br>
        <br>
        <header>From date</header>
        <select class="form-control" data-ng-model="date" style="width: 25%;">
            <Option value="DK" selected>some date</Option>
            <Option value="NO">another date</Option>
        </select>
        <header>To date</header>
        <select class="form-control" data-ng-model="date" style="width: 25%;">
            <Option value="DK" selected>some date</Option>
            <Option value="NO">another date</Option>
        </select>
        <br>
        <br>
    </div>
    <div style="width: 60%; background: rgba(300,300,100,0,5);">
        ehhje
    </div>
</div>
<div>
    <uib-accordion>
        <uib-accordion-group heading="exchangerate for : some date" >
            {{::rates}}     
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group heading="exchangerate for : some other date" >
            {{::rates}}     
        </uib-accordion-group>
    </uib-accordion>
</div>