<div class="container">
    <h1>Daily Currency Exchange rates</h1>

    <div>
        <button data-ng-disabled="loading" data-ng-click="getRatesForToday()" class="btn btn-default">Update</button>
        <button data-ng-disabled="loading" data-ng-click="showRates()" class="btn btn-default">show rates</button>
        <button data-ng-disabled="loading" data-ng-click="createGraphic()" class="btn btn-default">create a graph</button>
    </div>

    <div style="text-align: center;">
        <header> amount to convert </header>
        <input data-ng-model="valutaToCalculate" type="number" class="form-control" style="width: 50%; margin-left: 25%; margin-right: auto; margin-bottom: 10px;">
        <select data-ng-model="valutaOne" ng-options="id.code.id for id in dailyCurrencies"></select>
        <select data-ng-model="valutaO" ng-options="currency.code.id for currency in dailyCurrencies"></select>
        
        <select data-ng-model="valutaTwo" ng-options="id.code.id for id in dailyCurrencies"></select>
        <div style="width: 50%; margin-left: 25%; margin-right: auto; height: 80px; background-color: whitesmoke; margin-bottom: 50px; margin-top: 10px; line-height: 80px; font-size: xx-large; font-family: italic; font-weight: bold; color: black; border-radius: 10px;">
            {{valutaValue}}
        </div>
        
    </div>


    <div>
        <table class="table table-striped table-condensed">

            <tr>
                <th>Currency</th>
                <th>Code</th>
                <th>Rate</th>
                <th>Timestamp</th>
            </tr>

            <tr data-ng-repeat="currency in dailyCurrencies">

                <td>
                    {{::currency.code.id}}
                </td>

                <td>
                    {{::currency.code.description}}
                </td>

                <td>
                    {{::currency.rate}}
                </td>

                <td>
                    {{::currency.timestamp}}
                </td>

            </tr>

        </table>
    </div>
</div>